*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/misc.xml

.idea/misc.xml

.idea/misc.xml

.idea/misc.xml

.idea/workspace.xml___jb_tmp___

keystore.properties
app/src/main/java/com/cesarsk/say_it/utility/LCSecurity.java

app/app-release.apk

keystores/android.jks
