<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cesarsk.say_it">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- permission required to use NotificationReceiver -->
    <receiver android:name="com.example.Cesarsk.NotificationReceiver"></receiver>

    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlueYellowThemeNoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BlueYellowThemeActionBar" />
        <activity
            android:name=".PlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueYellowThemeNoActionBar" />

        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>