<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cesarsk.say_it">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_say_it"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlueYellow"
        android:fullBackupContent="false">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name="com.cesarsk.say_it.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.lucacesaranoblog.wordpress.com"
                    android:pathPrefix="/" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos” more information: https://developer.android.com/training/app-indexing/deep-linking.html
                <data android:scheme="example"
                      android:host="gizmos" /> -->
            </intent-filter>
        </activity>

        <activity
            android:name="com.cesarsk.say_it.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.cesarsk.say_it.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueYellowPreference" />
        <activity
            android:name="com.cesarsk.say_it.ui.PlayActivity"
            android:parentActivityName="com.cesarsk.say_it.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cesarsk.say_it.ui.SearchActivity"
            android:parentActivityName="com.cesarsk.say_it.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.cesarsk.say_it.ui.FileTextActivity" />

        <receiver
            android:name="com.cesarsk.say_it.NotificationReceiver"
            android:enabled="true" />

        <receiver
            android:name="com.cesarsk.say_it.NotificationBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>